body{
    text-align: center;
    background-color:#b2dada
}


.mid-container {
  
    position:absolute;
    left: 250px;

}
.skills-container{
    text-align: center;
    margin: 0 auto 0 auto;
    width: 50%;

}

.image1{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    
    
}
.image2{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 20px;
}
.skill-row{
    width: 100%;
   margin:0 auto 0 auto;
   text-align: left;
   line-height: 2;
  
}
h3{ 
    font-family: 'Sacramento', cursive;  
    margin: 0 auto 100px auto;
    
}
h1{
   
    font-size:5.627rem;
    font-family: 'Dancing Script', cursive;
    color: #19d795;
}
.cloud{
    height: 100px;
}
h2{
    font-weight: normal;
    font-family: 'Sacramento', cursive;  
    font-size: 2.5rem;
    color:  #19d795;
}
.profile{
    height: 200px;
    width: 200px;
    border-radius: 100%;

}
hr{ 
    border-style: none;
    border-bottom-style: dotted;
    border-width: 5px;
    width:5%;
    border-color:#19d795;
}
.social-media-container{
    background-color: #2891c6;
    height: 70px;
}

.button {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:20px 34px;
	text-decoration:none;
	text-shadow:0px 0px 15px #2f6627;
    margin: 40px auto 60px auto;
}
.button:hover {
	background-color:#5cbf2a;
}
.button:active {
	position:relative;
	top:1px;
}

a:link{
    color:rgb(0, 255, 204);

}
a:visited{
    background-color: aliceblue;
}
   